body {
	cursor: url(/images/user/default.cur),auto;
}

body a:hover,a i:hover, button:hover, button i:hover, #footer-wrap a:hover {
	cursor: url(/images/user/pointer.cur),auto !important;
}

a, img, svg, canvas, li::before, .fancybox-content, i.expand, i.copy-button, .post-reward .reward-button, #pagination .page-number:hover {
	cursor: url(/images/user/pointer.cur), auto !important;
}

.hexo-douban-active {
	background: #cacaca !important;
}

hr:before {
	content: '\f197'
}

/* 评论与回复 */
.vcol * , .v[data-class=v] .vicon, .v[data-class=v] .vbtn, .vat {
	cursor: url(/images/user/pointer.cur), auto;
}

.v[data-class=v] .vwrap .vheader .vinput {
	font-size: 0.9em;
}

/* 提交按钮 */
#vcomment button {
	padding: 0.3rem 0.8rem;
	border-color: #fff;
	background-color: #e58a8a;
	color: #fff;
	font-size: 0.7rem;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}

/* 设置评论框 */
.vcard, .tk-comment {
	box-shadow: 2px 2px 5px #bbb;
	background: rgba(255, 255, 255, 0.3);
	border-radius: 8px;
	padding: 30px;
	margin: 30px 0px 0px 0px;
}

/* 取消子评论框 */
.vquote .vcard, .tk-replies .tk-comment {
	box-shadow: 2px 2px 5px transparent;
	background: rgba(255, 255, 255, 0.0);
	padding: 0px;
}

/* 评论区代码块 */
#vcomments code {
	color: #c7254e;
	background-color: #F9F2F4;
}

#web_bg {
  /* background-image: url("/images/user/background_mask.png"), linear-gradient(60deg, rgba(255, 165, 150, 0.5) 5%, rgba(0, 228, 255, 0.35)), url("/images/user/background.png"); */
}

/* 所有背景（包括首页卡片、文章页、页面页等） */
#aside_content .card-widget, #recent-posts>.recent-post-item, .layout_page>div:first-child:not(.recent-posts), .layout_post>#page,.layout_post>#post,.read-mode .layout_post>#post {
	/* background: var(--global-bg); */
}[data-theme=dark] #nav,[data-theme=dark] .layout_page>div:first-child:not(.recent-posts),[data-theme=dark] .layout_post>#post {
	/* background-color: var(--global-bg); */
}

.cover {
	background: var(--global-bg);
}

/* 旋转标题 before */
#article-container.post-content h1:before, h2:before, h3:before, h4:before, h5:before, h6:before {
	-webkit-animation: avatar_turn_around 2s linear infinite;
	-moz-animation: avatar_turn_around 2s linear infinite;
	-o-animation: avatar_turn_around 2s linear infinite;
	-ms-animation: avatar_turn_around 2s linear infinite;
	animation: avatar_turn_around 2s linear infinite;
}

/* 分页器的三个点(...) */
.space {
	/* color: #00c4b6; */
}

.card-info-avatar:hover {
	/* background: url(/images/user/avatar_hover.gif) */
}

#vcomment textarea {
	/* background: url(/images/user/textarea.png) 100% 100% no-repeat */
}

.hide-block>a.hide-button.open,.hide-inline>a.hide-button.open {
	display: inline-block;
}

.layout_post img {
	display: inline-block;
}

.imgList li::before {
	content: none !important;
}

/* 滚动条 */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	border-radius: 2em;
	background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
	border-radius: 1em;
	background-color: #49b1f5;
	background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.4) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.4) 50%,rgba(255,255,255,.4) 75%,transparent 75%,transparent);
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}

::-moz-selection {
	background-color: #49b1f5;
	color: #fff;
}

/* 页脚 */
#footer {
  /* background: transparent !important; */
}

#footer #footer-wrap {
	padding: 1rem 1rem;
}

#footer #footer-wrap a {
	/* color: #333; */
}

/* 阅读模式 */
.read-mode #article-container pre *, .read-mode #article-container .highlight:not(.js-file-line-container) * {
	color: rgba(238,255,255,0.5) !important;
}

.read-mode #article-container a {
	color: #49b1f5;
}

table th, table td {
	border: 1px solid #d6d6d6;
}

.table-wrap {
	overflow-x: auto;
}