body {
	cursor: url(https://cdn.jsdelivr.net/gh/Eurkon/CDN@latest/hexo/images/user/default.cur), auto !important;
}

a, img, svg, canvas {
	cursor: url(https://cdn.jsdelivr.net/gh/Eurkon/CDN@latest/hexo/images/user/pointer.cur), auto !important;
}

/* 文章 */
.reward-button, #pagination .page-number:hover {
	cursor: url(https://cdn.jsdelivr.net/gh/Eurkon/CDN@latest/hexo/images/user/pointer.cur), auto !important;
}

/* 图片预览 */
.fancybox, .fancybox-button, .fancybox-content {
	cursor: url(https://cdn.jsdelivr.net/gh/Eurkon/CDN@latest/hexo/images/user/pointer.cur), auto !important;
}

/* 评论与回复 */
.switch-btn, .vcol * , .v[data-class=v] .vicon, .v[data-class=v] .vbtn, .vat, .vemojis *, .vcontent.expand {
	cursor: url(https://cdn.jsdelivr.net/gh/Eurkon/CDN@latest/hexo/images/user/pointer.cur), auto !important;
}

.card-star {
	cursor: url(https://cdn.jsdelivr.net/gh/Eurkon/CDN@latest/hexo/images/user/pointer.cur), auto !important;
}


#footer #footer-wrap {
	padding: 0.5rem 1rem;
}

table th, table td {
	border: 1px solid var(--font-color);
}

.table-wrap {
	overflow-x: auto;
}

.search-dialog {
	border-radius: 8px;
}

.v[data-class=v] .vwrap .vheader .vinput {
	font-size: 0.9em;
}

/* 提交按钮 */
#vcomment button {
	padding: 0.3rem 0.8rem;
	border-color: #fff;
	background-color: #e58a8a;
	color: #fff;
	font-size: 0.7rem;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}

.hexo-douban-active {
	color: var(--btn-color) !important;
	background: var(--btn-bg) !important;
}

.hexo-douban-button:hover {
	color: var(--btn-color) !important;
	background: var(--btn-bg) !important;
}

/* 旋转标题 before */
#article-container.post-content h1:before, h2:before, h3:before, h4:before, h5:before, h6:before {
	-webkit-animation: avatar_turn_around 2s linear infinite;
	-moz-animation: avatar_turn_around 2s linear infinite;
	-o-animation: avatar_turn_around 2s linear infinite;
	-ms-animation: avatar_turn_around 2s linear infinite;
	animation: avatar_turn_around 2s linear infinite;
}

/* 分页器的三个点(...) */
.space {
	color: var(--btn-bg)
}

.v[data-class=v] .vcards .vcard .vh .vmeta .vat {
	color: var(--btn-bg) !important;
}

.hide-block>a.hide-button.open,.hide-inline>a.hide-button.open {
	display: inline-block;
}

.layout_post img {
	display: inline-block;
}

.imgList li::before {
	content: none !important;
}

/* 滚动条 */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	border-radius: 2em;
	background-color: var(--card-bg);
}

::-webkit-scrollbar-thumb {
	border-radius: 1em;
	background-color: var(--btn-bg);
	background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.4) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.4) 50%,rgba(255,255,255,.4) 75%,transparent 75%,transparent);
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}

::-moz-selection {
	background-color: var(--btn-bg);
	color: #fff;
}

/* 头图透明 */
#page-header {
	background: transparent !important;
}

/* 页脚透明 */
#footer {
	background: transparent !important;
}

/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
#page-header.post-bg:before {
	/* background-color: transparent !important; */
}

/*夜间模式伪类遮罩层透明*/
[data-theme="dark"] #page-header::before {
	/* background: transparent !important; */
}

[data-theme="dark"]
#footer::before {
	background: transparent !important;
}

div#post, div#page, div#archive, #aside-content .card-widget, #recent-posts > .recent-post-item {
	background: rgba(255,255,255,.9);
}

[data-theme=dark] div#post, [data-theme=dark] div#page, [data-theme=dark] div#archive, [data-theme=dark] #aside-content .card-widget, [data-theme=dark] #recent-posts > .recent-post-item {
	background: rgba(0,0,0,.9);
}