html {
	cursor: url(https://cdn.jsdelivr.net/gh/Eurkon/CDN/hexo/images/user/default.cur), auto !important;
}

#recent-posts > .recent-post-item >.recent-post-info > .article-meta-wrap > .post-meta-date {
	cursor: url(https://cdn.jsdelivr.net/gh/Eurkon/CDN/hexo/images/user/default.cur), auto !important;
}

a, img, button, svg, canvas, select {
	cursor: url(https://cdn.jsdelivr.net/gh/Eurkon/CDN/hexo/images/user/pointer.cur), auto !important;
}

i.scroll-down-effects {
	cursor: url(https://cdn.jsdelivr.net/gh/Eurkon/CDN/hexo/images/user/pointer.cur), auto !important;
}

/* 打赏按钮 */
.reward-button {
	cursor: url(https://cdn.jsdelivr.net/gh/Eurkon/CDN/hexo/images/user/pointer.cur), auto !important;
}

/* 文章翻页 */
#pagination .page-number:hover {
	cursor: url(https://cdn.jsdelivr.net/gh/Eurkon/CDN/hexo/images/user/pointer.cur), auto !important;
}

/* 图片预览 */
.fancybox, .fancybox-button, .fancybox-content {
	cursor: url(https://cdn.jsdelivr.net/gh/Eurkon/CDN/hexo/images/user/pointer.cur), auto !important;
}

/* 代码块 */
#article-container figure.highlight .highlight-tools .expand ~ .copy-button, #article-container figure.highlight .highlight-tools .expand, #article-container .code-expand-btn {
	cursor: url(https://cdn.jsdelivr.net/gh/Eurkon/CDN/hexo/images/user/pointer.cur), auto !important;
}

/* 评论与回复 */
.switch-btn, .vcol * , .v[data-class=v] .vicon, .v[data-class=v] .vbtn, .vat, .vemojis *, .vcontent.expand {
	cursor: url(https://cdn.jsdelivr.net/gh/Eurkon/CDN/hexo/images/user/pointer.cur), auto !important;
}

/* twikoo */
.tk-action-icon, .tk-panel .tk-tab, .tk-expand, .tk-pagination-pager, .OwO .OwO-body, .OwO .OwO-body .OwO-items .OwO-item, .OwO .OwO-body .OwO-bar .OwO-packages li {
	cursor: url(https://cdn.jsdelivr.net/gh/Eurkon/CDN/hexo/images/user/pointer.cur), auto !important;
}

/* 网站收藏卡片 */
.card-star {
	cursor: url(https://cdn.jsdelivr.net/gh/Eurkon/CDN/hexo/images/user/pointer.cur), auto !important;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
	cursor: url(https://cdn.jsdelivr.net/gh/Eurkon/CDN/hexo/images/user/pointer.cur), auto !important;
}

/* 表格边框 */
table th, table td {
	border: 1px solid var(--font-color);
}

/* 表格横向滚动条 */
.table-wrap {
	overflow-x: auto;
}

/* 搜索框 */
.search-dialog {
	border-radius: 8px;
}

/* 文章段落标题 */
#article-container .headerlink {
	float: right;
	opacity: .6;
	border-bottom-style: none;
	border-bottom: none;
	position: relative;
}

#article-container .headerlink::before {
	content: "\f0c1";
	font-family: "Font Awesome 5 Free";
	font-size: smaller;
}

#article-container :hover .headerlink {
	opacity: 1;
	text-decoration: none
}

#article-container .headerlink:hover {
	background: 0 0;
	opacity: 1;
	border-bottom: none;
}

/* 目录 */
#aside-content #card-toc .toc-content .toc-link.active {
	border-radius: 8px;
	border-left-color: var(--text-bg-hover);
	background-color: var(--text-bg-hover);
	font-weight: 700;
}

/* 文章图片 */
#article-container img, .post-qr-code-img {
	border-radius: 8px;
}

/* button */
.button--animated {
	border-radius: 8px;
}

.button--animated:before {
	border-radius: 8px;
	background-color: var(--btn-hover-color);
}

/* a */
#article-container a:hover {
	color: #f47466;
}

a {
	text-decoration: none !important;
}

/* 侧边栏 */
/* #aside-content .aside-list > .aside-list-item:hover {
	color: var(--btn-color) !important;
	background: var(--text-bg-hover);
	border-radius: 8px;
} */

#aside-content .card-archives ul.card-archive-list>.card-archive-list-item a:hover {
	color: var(--btn-color) !important;
	background: var(--text-bg-hover);
	border-radius: 8px;
}

#aside-content .card-categories ul.card-category-list>.card-category-list-item a:hover {
	color: var(--btn-color) !important;
	background: var(--text-bg-hover);
	border-radius: 8px;
}

#aside-content .card-tag-cloud a:hover {
	color: var(--btn-color) !important;
	background: var(--text-bg-hover);
	border-radius: 8px;
	transform: scale(0.95)
}

/* 首页文章 */
#recent-posts > .recent-post-item >.recent-post-info > .article-meta-wrap a {
	padding: 0 0.1rem;
}

#recent-posts > .recent-post-item >.recent-post-info > .article-meta-wrap a:hover {
	color: var(--btn-color) !important;
	background: var(--text-bg-hover);
	border-radius: 6px;
	transform: scale(0.95)
}


/* 上下一篇文章 */
#pagination .prev_info, #pagination .next_info {
	font-size: medium;
	font-weight: 500;
}

#pagination img.prev-cover, #pagination img.next-cover {
	background-color: var(--card-bg);
}

#pagination .prev-post:hover img.prev-cover, #pagination .next-post:hover img.next-cover {
	opacity: .7;
}

#pagination.pagination-post {
	border-radius: 8px
}

/* 推荐文章 */
.relatedPosts > .relatedPosts-list .content .date {
	font-size: larger;
}

.relatedPosts>.relatedPosts-list .content .title {
	font-size: larger;
	font-weight: 500;
}

.relatedPosts>.relatedPosts-list .cover {
	background-color: var(--card-bg);
}

.relatedPosts>.relatedPosts-list>div:hover .cover {
	opacity: .7;
}

@media screen and (min-width:769px) {
	#post>div.relatedPosts>div.relatedPosts-list>div:nth-child(1) {
		border-radius: 8px 0 0 0
	}

	#post>div.relatedPosts>div.relatedPosts-list>div:nth-child(3) {
		border-radius: 0 8px 0 0
	}

	#post>div.relatedPosts>div.relatedPosts-list>div:nth-child(4) {
		border-radius: 0 0 0 8px
	}

	#post>div.relatedPosts>div.relatedPosts-list>div:nth-child(6) {
		border-radius: 0 0 8px 0
	}
}

@media (max-width:768px) and (min-width:601px) {
	#post>div.relatedPosts>div.relatedPosts-list>div:nth-child(1) {
		border-radius: 8px 0 0 0
	}

	#post>div.relatedPosts>div.relatedPosts-list>div:nth-child(2) {
		border-radius: 0 8px 0 0
	}

	#post>div.relatedPosts>div.relatedPosts-list>div:nth-child(5) {
		border-radius: 0 0 0 8px
	}

	#post>div.relatedPosts>div.relatedPosts-list>div:nth-child(6) {
		border-radius: 0 0 8px 0
	}
}

@media (max-width:600px) {
	#post>div.relatedPosts>div.relatedPosts-list>div:nth-child(1) {
		border-radius: 8px 8px 0 0
	}

	#post>div.relatedPosts>div.relatedPosts-list>div:nth-child(6) {
		border-radius: 0 0 8px 8px
	}
}

/* 顶部菜单栏 */
#nav .menus_items .menus_item .menus_item_child {
	padding: 2px;
	border-radius: 8px;
}

#nav .menus_items .menus_item i.expand {
	/* display: none */
}

#nav .menus_items .menus_item .menus_item_child li:hover {
	background: var(--text-bg-hover);
	border-radius: 8px;
}

#nav .menus_items .menus_item .menus_item_child li a:hover {
	color: var(--btn-color) !important;
}

/* 加粗字体颜色 */
b, strong {
	color: #f47466;
}

/* 赞赏 */
.post-reward {
	margin-top: 2rem;
}

/* 页数颜色 */
.pagination a, .pagination span {
	color: #99a9bf;
}

/* 右下角按钮 */
#rightside > div > button, #rightside > div > a {
	margin-bottom: 2px;
	border-radius: 15px;
}

/* valine 评论表情悬停放大 */
img.vemoji:hover {
	transform: scale(2);
}

/* 评论输入框 */
.v[data-class=v] .vwrap .vheader .vinput {
	font-size: 0.9em;
}

/* 提交按钮 */
#vcomment button {
	padding: 0.3rem 0.8rem;
	border-color: #fff;
	background-color: #f47466;
	color: #fff;
	font-size: 0.7rem;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}

/* Twikoo评论框高度 */
.el-textarea__inner {
	min-height: 100px !important;
}

.tk-comment {
	margin: .1rem;
	padding: .8rem;
	border: 1px solid var(--light-grey);
	border-radius: 8px;
	box-shadow: 1px 1px 5px;
}

.OwO .OwO-body {
	color: var(--font-color) !important;
	background-color: var(--card-bg) !important;
}

.OwO.OwO-open .OwO-body {
	border-radius: 8px;
}

.OwO .OwO-body .OwO-items .OwO-item:hover {
	color: var(--card-bg) !important;
	background-color: var(--font-color) !important;
	transform: scale(1.2);
}

.OwO .OwO-body .OwO-bar .OwO-packages .OwO-package-active {
	color: var(--card-bg) !important;
	background-color: var(--font-color) !important;
}

.tk-content :not(pre) > code[class*="language-"], .tk-content pre[class*="language-"] {
	border-radius: 8px;
}

.tk-nick, .tk-nick-link {
	font-size: larger !important;
}

.tk-content {
	margin-top: 0 !important;
}

.tk-expand:hover {
	background-color: var(--tab-button-hover-bg) !important;
	border-radius: 8px;
}

/* 豆瓣页面 */
.hexo-douban-item {
	background-color: var(--blockquote-bg);
	border-radius: 8px;
	margin: 8px 0;
	border-bottom: none !important;
}

.hexo-douban-item .hexo-douban-picture img {
	margin: 0 !important;
	margin-left: .5rem !important
}

.hexo-douban-active {
	color: var(--btn-color) !important;
	background: var(--btn-bg) !important;
}

.hexo-douban-button:hover {
	color: var(--btn-color) !important;
	background: var(--btn-bg) !important;
}

/* 朋友圈 */
.moments-item {
	background-color: var(--card-bg);
	border-radius: 8px !important;
	padding: 8px;
	margin: 0 0 .5rem .5rem !important;
}

#info_user_pool {
	padding: 0px !important;
}

@media screen and (max-width: 500px) {
	.moments_chart {
		padding: 5px;
	}
}

.flink-list > a .info img {
	border-radius: 50% !important;
}

/* 音乐播放器 */
#article-container .aplayer {
	border-radius: 8px !important;
}

/* 旋转标题 before */
/* #article-container.post-content h1:before, h2:before, h3:before, h4:before, h5:before, h6:before {
	-webkit-animation: avatar_turn_around 2s linear infinite;
	-moz-animation: avatar_turn_around 2s linear infinite;
	-o-animation: avatar_turn_around 2s linear infinite;
	-ms-animation: avatar_turn_around 2s linear infinite;
	animation: avatar_turn_around 2s linear infinite;
} */

/* 评论按钮 */
.v[data-class=v] .vcards .vcard .vh .vmeta .vat {
	color: var(--btn-bg) !important;
}

/* 滚动条 */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	border-radius: 2em;
	background-color: var(--card-bg);
}

::-webkit-scrollbar-thumb {
	border-radius: 1em;
	background-color: var(--btn-bg);
	background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.4) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.4) 50%,rgba(255,255,255,.4) 75%,transparent 75%,transparent);
}

/* 首页头图透明 */
#page-header.full_page {
	background: transparent !important;
}

[data-theme="dark"] #page-header.full_page:before {
	background: transparent !important;
}

/* page页头图透明 */
#page-header.not-home-page {
	background: transparent !important;
}

[data-theme="dark"] #page-header.not-home-page:before {
	background: transparent !important;
}

/* 文章top-img透明 */
#page-header.post-bg {
	background: transparent !important;
}

[data-theme="dark"] #page-header.post-bg {
	background: transparent !important;
}

/* 文章top-img黑色透明玻璃效果移除 */
#page-header.post-bg:before {
	/* background-color: transparent !important; */
}

/*夜间模式文章top-img伪类遮罩层透明*/
[data-theme="dark"] #page-header.post-bg:before {
	/* background: transparent !important; */
}

/* 页脚透明 */
#footer {
	background: transparent !important;
}

[data-theme="dark"] #footer::before {
	background: transparent !important;
}

/* 页脚padding */
#footer #footer-wrap {
	padding: 0.5rem 1rem;
}

/* 卡片背景 */
div#post, div#page, div#archive, div#tag, div#category, div.card-widget, #recent-posts > .recent-post-item {
	background: rgba(255,255,255,.9) !important;
}

[data-theme=dark] div#post, [data-theme=dark] div#page, [data-theme=dark] div#archive, [data-theme=dark] div#tag, [data-theme=dark] div#category, [data-theme=dark] div.card-widget, [data-theme=dark] #recent-posts > .recent-post-item {
	background: rgba(0,0,0,.9) !important;
}