body {
	cursor: url(https://cdn.jsdelivr.net/gh/Eurkon/CDN@latest/hexo/images/user/default.cur), auto !important;
}

a, img, button, svg, canvas {
	cursor: url(https://cdn.jsdelivr.net/gh/Eurkon/CDN@latest/hexo/images/user/pointer.cur), auto !important;
}

/* 打赏按钮 */
.reward-button {
	cursor: url(https://cdn.jsdelivr.net/gh/Eurkon/CDN@latest/hexo/images/user/pointer.cur), auto !important;
}

/* 文章翻页 */
#pagination .page-number:hover {
	cursor: url(https://cdn.jsdelivr.net/gh/Eurkon/CDN@latest/hexo/images/user/pointer.cur), auto !important;
}

/* 图片预览 */
.fancybox, .fancybox-button, .fancybox-content {
	cursor: url(https://cdn.jsdelivr.net/gh/Eurkon/CDN@latest/hexo/images/user/pointer.cur), auto !important;
}

/* 评论与回复 */
.switch-btn, .vcol * , .v[data-class=v] .vicon, .v[data-class=v] .vbtn, .vat, .vemojis *, .vcontent.expand {
	cursor: url(https://cdn.jsdelivr.net/gh/Eurkon/CDN@latest/hexo/images/user/pointer.cur), auto !important;
}

/* 网站收藏卡片 */
.card-star {
	cursor: url(https://cdn.jsdelivr.net/gh/Eurkon/CDN@latest/hexo/images/user/pointer.cur), auto !important;
}

/* 表格边框 */
table th, table td {
	border: 1px solid var(--font-color);
}

/* 表格横向滚动条 */
.table-wrap {
	overflow-x: auto;
}

/* 搜索框 */
.search-dialog {
	border-radius: 8px;
}

/* 右下角按钮 */
#rightside > div > button, #rightside > div > a {
	margin-bottom: 2px;
	border-radius: 15px;
}

/* valine 评论表情悬停放大 */
img.vemoji:hover{
	transform: scale(2);
}

/* 评论输入框 */
.v[data-class=v] .vwrap .vheader .vinput {
	font-size: 0.9em;
}

/* 提交按钮 */
#vcomment button {
	padding: 0.3rem 0.8rem;
	border-color: #fff;
	background-color: #e58a8a;
	color: #fff;
	font-size: 0.7rem;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}

/* Twikoo评论框高度 */
.el-textarea__inner {
	min-height: 150px !important;
	height: 150px !important;
}

/* 豆瓣页面按钮 */
.hexo-douban-active {
	color: var(--btn-color) !important;
	background: var(--btn-bg) !important;
}

.hexo-douban-button:hover {
	color: var(--btn-color) !important;
	background: var(--btn-bg) !important;
}

/* 旋转标题 before */
/* #article-container.post-content h1:before, h2:before, h3:before, h4:before, h5:before, h6:before {
	-webkit-animation: avatar_turn_around 2s linear infinite;
	-moz-animation: avatar_turn_around 2s linear infinite;
	-o-animation: avatar_turn_around 2s linear infinite;
	-ms-animation: avatar_turn_around 2s linear infinite;
	animation: avatar_turn_around 2s linear infinite;
} */

/* 评论按钮 */
.v[data-class=v] .vcards .vcard .vh .vmeta .vat {
	color: var(--btn-bg) !important;
}

/* 滚动条 */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-track {
	border-radius: 2em;
	background-color: var(--card-bg);
}

::-webkit-scrollbar-thumb {
	border-radius: 1em;
	background-color: var(--btn-bg);
	background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.4) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.4) 50%,rgba(255,255,255,.4) 75%,transparent 75%,transparent);
}

::-webkit-scrollbar-corner {
	background-color: transparent;
}

/* 首页头图透明 */
#page-header.full_page {
	background: transparent !important;
}

[data-theme="dark"] #page-header.full_page:before {
	background: transparent !important;
}

/* page页头图透明 */
#page-header.not-home-page {
	background: transparent !important;
}

[data-theme="dark"] #page-header.not-home-page:before {
	background: transparent !important;
}

/* 文章top-img透明 */
#page-header.post-bg {
	background: transparent !important;
}

[data-theme="dark"] #page-header.post-bg {
	background: transparent !important;
}

/* 文章top-img黑色透明玻璃效果移除 */
#page-header.post-bg:before {
	/* background-color: transparent !important; */
}

/*夜间模式文章top-img伪类遮罩层透明*/
[data-theme="dark"] #page-header.post-bg:before {
	/* background: transparent !important; */
}

/* 页脚透明 */
#footer {
	background: transparent !important;
}

[data-theme="dark"] #footer::before {
	background: transparent !important;
}

/* 页脚padding */
#footer #footer-wrap {
	padding: 0.5rem 1rem;
}

/* 卡片背景 */
div#post, div#page, div#archive, div#tag, div#category, div.card-widget, #recent-posts > .recent-post-item {
	background: rgba(255,255,255,.9) !important;
}

[data-theme=dark] div#post, [data-theme=dark] div#page, [data-theme=dark] div#archive, [data-theme=dark] div#tag, [data-theme=dark] div#category, [data-theme=dark] div.card-widget, [data-theme=dark] #recent-posts > .recent-post-item {
	background: rgba(0,0,0,.9) !important;
}