.links-content {
	margin-top: 1rem;
}

.link-navigation::after {
	content: "";
	display: block;
	clear: both
}

.card-star {
	position: relative;
	width: 25%;
	padding: 0;
	border-radius: 10px;
	transition-duration: .3s;
	margin-bottom: 1rem;
	margin-left: 16px;
	display: block;
	float: left;
	overflow: hidden;
  background-color: var(--global-bg) !important;
}

.card-star:hover {
	color: #fff;
	background-color: var(--btn-bg) !important;
}

@media(max-width:567px) {
	.card-star {
		margin-left: 16px;
		width: calc((100% - 16px)/2)
	}

	.card-star:nth-child(2n+1) {
		margin-left: 0
	}

	.card-star:not(:nth-child(2n+1)) {
		margin-left: 16px
	}
}

@media(min-width:567px) {
	.card-star {
		margin-left: 16px;
		width: calc((100% - 32px)/3)
	}

	.card-star:nth-child(3n+1) {
		margin-left: 0
	}

	.card-star:not(:nth-child(3n+1)) {
		margin-left: 16px
	}
}

@media(min-width:768px) {
	.card-star {
		margin-left: 16px;
		width: calc((100% - 48px)/4)
	}

	.card-star:nth-child(4n+1) {
		margin-left: 0
	}

	.card-star:not(:nth-child(4n+1)) {
		margin-left: 16px
	}
}

.card-star .star-header {
	text-align: center;
	padding: .25rem .25rem;
	font-weight: bold;
	font-size: larger;
	white-space: nowrap;
}

.card-star .star-content {
	text-align: center;
	padding: 0 .25rem .25rem .25rem;
	font-size: smaller;
	white-space: nowrap;
}

.card-star .star-content div {
	overflow: hidden
}