#article-container .star-list {
	overflow: auto;
}

#article-container .star-list>.star-list-item {
	text-align: center;
	position: relative;
	float: left;
	overflow: hidden;
	margin: 6px 2px;
	width: calc(100% / 4 - 4px);
	height: 90px;
	border-radius: 8px;
	line-height: 1rem;
	background-color: var(--global-bg);
	-webkit-transition: .3s ease-in-out;
	-moz-transition: .3s ease-in-out;
	-o-transition: .3s ease-in-out;
	-ms-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

#article-container .star-list>.star-list-item:hover {
	background-color: var(--main);
	box-shadow: var(--main-shadow);
}

@media screen and (max-width:1024px) {
	#article-container .star-list>.star-list-item {
		width: calc(33% - 4px) !important
	}
}

@media screen and (max-width:600px) {
	#article-container .star-list>.star-list-item {
		width: calc(50% - 4px) !important
	}
}

@media screen and (max-width:400px) {
	#article-container .star-list>.star-list-item {
		width: calc(50% - 2px) !important
	}
}

#article-container .star-list>.star-list-item a {
	color: var(--font-color);
	text-decoration: none
}

#article-container .star-list>.star-list-item a .star-item-name {
	display: block;
	font-weight: 700;
	font-size: .9rem;
	height: 35px;
}

#article-container .star-list>.star-list-item a .star-item-desc {
	display: block;
	font-size: 95%;
	height: 55px;
}

#article-container .star-list>.star-list-item a .star-item-desc,
#article-container .star-list>.star-list-item a .star-item-name {
	padding: 16px 8px 0 8px;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
	white-space: nowrap
}

#article-container .star-list>.star-list-item:hover  .star-item-desc,
#article-container .star-list>.star-list-item:hover  .star-item-name {
	color: var(--second);
}